[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
requests = "*"
streamlit = "*"
recomendaciones-escritoras = {editable = true, path = "."}
beautifulsoup4 = "*"
tqdm = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "*"
